{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 13,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"react",
		"@typescript-eslint"
	],
	"rules": {
		"react-hooks/rules-of-hooks": "off",
		"react/no-array-index-key": "off",
		"prettier/prettier": "error",
		"react/require-default-props": "off",
		"@typescript-eslint/naming-convention": "off",
		"react/react-in-jsx-scope": "off",
		"no-param-reassign": "off",
		"no-restricted-syntax": "off",
		"react/jsx-props-no-spreading": "off",
		"import/no-named-as-default": 0
	}
}
